*{
    margin: 0;
    padding: 0;
}
.container{
    width: 950px;
    background: linear-gradient(rgb(221, 221, 221) 0%, white 50%);
}
.header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
}
.blueRes{
    color: rgb(36, 88, 167);
}
.tittle{
    font-size: 50px;
    padding-left: 80px;
    font-family: Calibri ,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(59, 59, 59);
    background-color: white;
}
.subtittle{
    background: linear-gradient(rgb(36, 88, 167),rgb(104, 140, 194),rgb(36, 88, 167));
    font-family: Calibri ,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: white;
    padding: 5px 20px;
}
.leftBar{
    display: inline-block;
    width: 230px;
    padding: 2px;
    vertical-align: top;
}
.leftBar h3{
    padding-top: 20px;
    padding-bottom: 15px;
}
.leftBar h4{
    padding-bottom: 15px;
}
.redRes{
    color: red;
}
.blueButton{
    font-size: 18px;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 30px;
    margin: 0 auto 4px auto;
    width: 220px;
    height: 30px;
    text-align: center;
    background: linear-gradient(rgb(104, 140, 194),rgb(36, 88, 167));
    border-radius: 5px;
    border: 1px solid rgb(36, 88, 167);
}

.orangeButton{
    font-size: 18px;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 30px;
    margin: 0 auto 20px auto;
    width: 220px;
    height: 30px;
    text-align: center;
    background: linear-gradient(rgb(231, 159, 26),rgb(218, 113, 28));
    border-radius: 5px;
    border: 1px solid rgb(231, 159, 26);
}
.ads{
    padding-top: 25px;
    border-top: 1px solid rgb(78, 78, 78);
}
.ads #ninja{
    position: absolute;
    width: 80px;
    top: 470px;
    left: 75px;
}
.ads #adbg{
    position: absolute;
    width: 230px;
    left: -2;
}
.ads h2{
    position: absolute;
    top: 370px;
    width: 200px;
    left: 15px;
    text-align: center;
    color: white;
    font-family: Calibri ,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.adButton{
    position: absolute;
    top: 600px;
    left: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 28px;
    width: 200px;
    height: 28px;
    text-align: center;
    background: linear-gradient(rgb(118, 238, 245),rgb(23, 178, 189));
    border-radius: 5px;
    border: 1px solid rgb(231, 159, 26);
}
.arrow0{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.267);
}
.arrow1{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.548);
}
.arrow2{
    font-size: 10px;
}
.content{
    display: inline-block;
    width: 650px;
    margin: 0 0 0 50px
}
.contHead{
    width: 650px;
    vertical-align: top;
    border-bottom: 1px solid rgb(78, 78, 78);
}
.dns{
    padding: 10px 0;
    width: 150px;
    display: inline-block;
    color: rgb(36, 88, 167);
}
.dns img{
    width: 23px;
    display: inline-block;
}
.dns p{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.contact{
    display: inline-block;
    vertical-align: top;
    margin-left: 298px;
    padding-bottom: 10px;
    text-align: end;
}
.contact img{
    width: 54px;
    display: inline-block;
    vertical-align: middle;
}
.infoContact{
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    font-size: 11px;
}
.numContact{
    font-size: 25px;
    color: turquoise;
    font-weight: bold;
}
.contBottom h2{
    padding: 5px 0;
    color: rgb(36, 88, 167);
}
.contBottom a{
    color: turquoise;
    text-decoration: none;
}
.contBottom ul, .contBottom ol{
    width: 600px;
    margin: 5px auto 10px auto;
}
.contBottom li{
    margin-bottom: 5px;
}
.blackRes{
    color: black;
    font-weight: bold;
}
.contBottom img{
    display: block;
    width: 200px;
    margin: 0 auto;
}
.footer{
    padding: 15px;
    border-left: 3px solid rgb(0, 119, 255);
    border-top: 3px solid rgb(0, 119, 255);
    border-right: 3px solid rgb(0, 119, 255);
}
.footer img{
    width: 120px;
    margin: 0;
    display: inline-block;
}
.footCont{
    display: inline-block;
    width: 480px;
    vertical-align: top;
}